.chicago {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10vh;
    padding: 2vh 20%;
}

.chicago h1 {
    margin-bottom: 0;
}

.chicago h3 {
    margin-top: 0;
}

.chicago img {
    width: min(600px, 50%);
    object-fit: contain;
}

.first-pic {
    position: relative;
    top: 20%;
    right: -20%;
}

.chicago .right-column {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:600px) {
    .chicago {
        padding: 2vh 5%;
        flex-direction: column-reverse;
    }

    .first-pic {
        top: 0;
        right: 0;
        margin: 0;
    }

    .sec-pic {
        display: none;
    }
}