.chicago {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2vh 20%;
    background-color: #F4CE14;
}

.chicago h1 {
    margin-bottom: 0;
}

.chicago h3 {
    margin-top: 0;
}

.chicago p {
    margin-bottom: 15vh;
}

.chicago img {
    width: min(600px, 50%);
    aspect-ratio: 16/9;
    max-height: 300px;
}

.first-pic {
    position: relative;
    top: 20%;
    right: -20%;
}

.chicago .right-column {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:600px) {
    .chicago {
        padding: 2vh 5%;
        flex-direction: column-reverse;
    }

    .chicago img {
        width: 100%;
    }

    .first-pic {
        top: 0;
        right: 0;
        margin: 0;
    }

    .sec-pic {
        display: none;
    }
}