.specials{
    padding: 10vh 20%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.specials .top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.specials .second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.specials .card {
    height: 40vh;
    width: 25%;
    border: 1px solid black;
    border-radius: 1rem;
}