footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: start;
    justify-items: flex-start;
    background-color: #415e57;
    color: aliceblue;
    padding: 2vh 20%;
}

footer img {
    max-width: 200px;
}

footer ul {
    flex-direction: column;
}

footer a {
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    footer {
        padding: 1vh 1%;
        grid-template-columns: 200px;
    }

    footer img {
        margin: 0;
    }

    div {
        width: 100%;
    }
}