footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

img {
    max-width: 200px;
}

footer ul {
    display: flex;
    flex-direction: column;
}

footer a {
    font-size: 1em;
}

h5 {
    font-size: 1.2em
}

@media screen and (max-width: 600px) {
    footer {
        grid-template-columns: 200px;
    }

    div {
        width: 100%;
    }
}