header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.burger {
    display: none;
}

@media screen and (max-width:600px) {
    header {
        padding: 1vh 1%;
        justify-content: space-between;
    }

    .burger {
        display: block;
    }

    img {
        margin-left: 1em;
        margin-right: 1em;
    }
}